{% extends "layout.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Error</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 4rem;"></i>
                    <p class="lead text-gray-800 mb-5">Ha ocurrido un error</p>
                    <p class="text-gray-500 mb-0">{{ error }}</p>
                    <a href="{{ url_for('index') }}">&larr; Volver al Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
